.container {
    margin-bottom: 90px;
}

.background {
    background-color: #fceae8;
    border-radius: 5px;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #ff136f;
}

.buy-now-btn {
    background-image: linear-gradient(#ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
}

.cat1,
.cat2,
.cat3 {
    padding: 10px 20px;
    border-radius: 5px;
}

.cat1 {
    background-color: #ff136f;
}

.cat2 {
    background-color: #048888;
}

.cat3 {
    background-color: #4bcc00;
}

.card {
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px lightgray;
}

.card-footer {
    border-top: none;
    background-color: white;
}

#subscribe {
    height: 300px;
}

#subscribe h6 {
    color: gray;
}

footer {
    text-align: center;
}